<div class="container-fluid" style="background-color:black;padding-top: 20px;margin-bottom: -30px;color: rgb(240,240,240);">
    <div class="row">
        <div class="col-sm-5 col-md-3 text-center my-auto">
            <img src="../../assets/FooterImage.png" alt="Footer Image" width="40%" style="margin-bottom: 20px;"/>
        </div>
        <div class="col-sm-7 col-md-7" >
            <h3 style="margin-bottom: 20px;"><strong>About Us</strong></h3>
            <p class="text-justify" id="Dummy-Text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-sm-12 col-md-2 text-center" id="Extra-Links">
            <h3 style="margin-bottom: 20px;"><strong>Follow Us</strong></h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
        </div>
    </div>
</div>    
